


*{
    margin: 0;
    padding: 0;
}

.heading{
    font-family: Karla;
    font-size: 50px;
    margin-top: 100px;
}
.border{
       width: 100px;
       height: 3px;
       position: relative;
       left: 500px;
       background-color: rgb(245, 204, 0);
}
.bordersale{
    
       left: 210px;
}
.getinborder{
    left: 8px;
}

.getintouch{
    font-family: Karla;
    font-style: normal;
}
.input{
    outline: none;
}
.ownerimg{
   
    width:220px;
    height: 180px;
    transition: 2s;
}
.ownerimg:hover{
   
    width:220px;
    height: 180px;
    transform: scale(0.9);
}

.owner{
    margin-top: 150px;
}
.sale{
    font-family: Karla;
    font-size: 24px;
}
.officeimg{
    width:180px;
}
.font-family1{
    font-family:karla ;
}